HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store



### Logs ###
logs/
*.log

# Environment variables
/src/main/resources/.env
.env
*.env
.env.local
.env.*.local

# Claude.md
CLAUDE.md

# AGENTS.md
AGENTS.md

# k6 test results
k6-tests/results.json
k6-tests/*.json
/monitoring/HOW-TO-RUN.md
/monitoring/CHEATSHEET.md
/monitoring/METRICS-GUIDE.md
/monitoring/QUICKSTART.md
/k6-tests/README.md
/monitoring/README.md

#Docker
docker-compose.yml